<button mat-raised-button  class="btn btn-success">
    <i class="mdi mdi-account-edit me-1"></i> Ajouter DAB
</button>
<div class="c">
   
    <div class="content-page">
      <div class="a">
        <button mat-raised-button (click)="ouvrirAjouterClient()" class="btn btn-success">
            <i class="mdi mdi-account-edit me-1"></i> Ajouter DAB
        </button>
      </div>
        <div class="row" >
           
           
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/6.png" alt="project image cap">
                  
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            Banque internationale arabe de Tunisie
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                          
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>104</b> Comments
                            </span>
                        </p>
                       
        
                      
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> 
        
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/zitouna.png" alt="project image cap">
                   
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                         Zitouna Banque
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                            
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>254</b> Comments
                            </span>
                        </p>
                     
        
                     
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/2.png" alt="project image cap">
                   
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                         Banque Nationale Agricole
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                           
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>254</b> Comments
                            </span>
                        </p>
                        
        
                        
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div>
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/bh.png" alt="project image cap">
                   
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            BH Banque
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                         
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>254</b> Comments
                            </span>
                        </p>
                      
        
                        <!-- project progress-->
                       
                       
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div>
        
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/3.jpg" alt="project image cap">
                    
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                           Attijari bank
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                            
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>668</b> Comments
                            </span>
                        </p>
                      
        
                   
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/5.jpg" alt="project image cap">
                   
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            AMEN BANK
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                            
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>259</b> Comments
                            </span>
                        </p>
                       
        
                     
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/ATB.png" alt="project image cap">
                   
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            ATB
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                            
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>259</b> Comments
                            </span>
                        </p>
                       
        
                     
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/STB.png" alt="project image cap">
                   
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            Sociéte Tunisienne de Bank
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                            
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>259</b> Comments
                            </span>
                        </p>
                       
        
                     
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/5.jpg" alt="project image cap">
                   
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            AMEN BANK
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                            
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>259</b> Comments
                            </span>
                        </p>
                       
        
                     
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/5.jpg" alt="project image cap">
                   
        
                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            AMEN BANK
                        </h4>
        
                        <!-- project detail-->
                        <p class="mb-3">
                            
                            <span class="text-nowrap">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                <b>259</b> Comments
                            </span>
                        </p>
                       
        
                     
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
    </div>
</div>