<button mat-raised-button  class="btn btn-success">
    <i class="mdi mdi-account-edit me-1"></i> Ajouter DAB
</button>
<div class="c">
   
    <div class="content-page">
      <div class="a">
        <button mat-raised-button (click)="ouvrirAjouterClient()" class="btn btn-success">
            <i class="mdi mdi-account-edit me-1"></i> Ajouter DAB
        </button>
      </div>
        <div class="row" >
           
            <div class="col-md-6 col-xxl-3" *ngFor="let Dab of dabs">
                <!-- project card -->
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" width="50px" height="100px" src="{{Dab.image}}" alt="project image cap">
            
                    <div class="card-body position-relative">
                        <!-- project title -->
                        <h4 class="mt-0" style="font-size: 16px; color: #666666; margin: 0 0 0 8px; font-weight: bold;">
                            {{Dab.banque}}
                            <hr>
                        </h4>
            
                        <!-- project detail -->
                        <p class="mb-3">
                            <span class="text-nowrap">
                                <p style="font-size: 16px; color: #666666; margin: 0 0 0 8px; ">{{Dab.etat === '1' ? 'En Service  ' : 'Hors service'}}</p>
                            </span>
                        </p>
                        <h4>Adresse:{{Dab.adresse}}</h4>
            
                        <!-- Edit and Delete buttons -->
                        <div class="button-group">
                            <button class="edit-button" >Edit</button>
                            <button class="delete-button" (click)="supprimerDAB(Dab)">Delete</button>
                        </div>
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div>
            

        </div>
    </div>
</div>