<html>
<head>


</head>
<body >
   <div class="container d-flex justify-content-center ">
    <div class="row">
        
    </div>
    <form>
        <div  >
            <h4 class="page-title">Modif DAB</h4>
            <br>
            <div class="mb-3">
                <label for="simpleinput" class="form-label">Nom</label>
                <input type="text" id="simpleinput" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="example-email" class="form-label">Prénom</label>
                <input type="text" id="example-email" name="example-email" class="form-control" placeholder="Prénom">
            </div>
            
            <div class="mb-3">
                <label for="example-password" class="form-label">Email</label>
                <input type="email" id="example-password" class="form-control" placeholder="exmple@gmail.com">
            </div>
              
            <div class="mb-3">
                <label for="example-password" class="form-label">Login</label>
                <input type="text" id="example-password" class="form-control" placeholder="Login">
            </div>
            
 
            
            <div class="mb-3">
                <label for="example-palaceholder" class="form-label">Password</label>
                <input type="text" id="example-palaceholder" class="form-control" placeholder="placeholder">
            </div>
            
            <div class="mb-3">
                <label for="example-palaceholder" class="form-label">confirm Password</label>
                <input type="text" id="example-palaceholder" class="form-control" placeholder="">
            </div>
            <div class="mb-3">
                <button  class="btn btn-success"type="submit"><span>Modifier</span></button><button class="btn btn-danger" type="reset"><span>Annuler</span></button>
                
            </div>
            </div>
    </form>
   </div>

</body>
</html>