<body class="authentication-bg">
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">

                        <!-- Logo -->
                        <div class="card-header py-4 text-center bg-primary">
                            
                                <h1  style="color: white; font-weight: bold;font-size: 35px;">DABy<span style="color: rgb(49, 228, 168);">GO</span></h1>
                         
                        </div>

                        <div class="card-body p-4">
                            
                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center pb-0 fw-bold">Connection</h4>
                                <p class="text-muted mb-4">Entrez votre adresse e-mail et votre mot de passe pour accéder au panneau d'administration.</p>
                            </div>

                            <form action="#">

                                <div class="mb-3">
                                    <label for="emailaddress" class="form-label">Email </label>
                                    <input class="form-control" type="email" id="emailaddress" required="" placeholder="Tapez votre email">
                                </div>

                                <div class="mb-3">
                                    <a routerLink="/recoverpw" class="text-muted float-end"><small style="font-weight: bold;">Mot de passe oublier?</small></a>
                                    <label for="password" class="form-label">Mot de passe</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" class="form-control" placeholder="Enter your password">
                                        
                                    </div>
                                </div>

                              

                                <div class="mb-3 mb-0 text-center">
                                    <button class="btn btn-primary" type="submit" style="font-weight: bolder;">Connection</button>
                                </div>

                            </form>
                        </div> 
                    </div>
                

                </div> 
            </div>
          
        </div>
     
    </div>
 

   

</body>