<html>
<head>


</head>
<body >
   <div class="container d-flex justify-content-center ">
    <div class="row">
        
    </div>
    <form>
        <div  >
            <h4 class="page-title">AJout Adminstrateur</h4>
            <br>
            <div class="mb-3">
                <label for="simpleinput" class="form-label">Nom</label>
                <input type="text" [(ngModel)]="newAdminstrateur.firstName" name="firstName" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="example-email" class="form-label">Prénom</label>
                <input type="text" [(ngModel)]="newAdminstrateur.lastName" name="lastName" name="example-email" class="form-control" placeholder="Prénom">
            </div>
            
            <div class="mb-3">
                <label for="example-password" class="form-label">Email</label>
                <input type="email" [(ngModel)]="newAdminstrateur.email"  name="email" class="form-control" placeholder="exmple@gmail.com">
            </div>
              
            <div class="mb-3">
                <label for="example-password" class="form-label">Login</label>
                <input type="text" [(ngModel)]="newAdminstrateur.login"  name="login" class="form-control" placeholder="Login">
            </div>
            
 
            
            <div class="mb-3">
                <label for="example-palaceholder" class="form-label">Password</label>
                <input type="password" [(ngModel)]="newAdminstrateur.password"  name="password" class="form-control" placeholder="placeholder">
            </div>
            
            <div class="mb-3">
                <label for="example-palaceholder" class="form-label">confirm Password</label>
                <input type="password" [(ngModel)]="newAdminstrateur.confirmpassword"  name="confirmpassword" class="form-control" placeholder="">
            </div>
            <div class="mb-3">
                <button  routerLink="listAdmin" class="btn btn-success"type="submit" (click)="addAdminstrateur()"><span>Ajouter</span></button><button class="btn btn-danger" type="reset"><span>Annuler</span></button>
                <div>
                    <h3>{{message}}</h3>
                </div>
            </div>
            </div>
    </form>
   </div>

</body>
</html>