<div mat-dialog-title><h1>{{!type ?'Ajouter Adminstrateur':'Modifier Adminstrateur'}}</h1></div>
<form action="">
<div mat-dialog-content>
   <div class="row">
  
    <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput type="text" name="nom" [(ngModel)]="newAdminstrateur.firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Prénom</mat-label>
        <input  matInput type="text" name="prenom"[(ngModel)]="newAdminstrateur.lastName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="newAdminstrateur.email">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput type="text" name="login" [(ngModel)]="newAdminstrateur.login">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="newAdminstrateur.password">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> Confirm Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="newAdminstrateur. confirmpassword">
      </mat-form-field>
   
   </div>
</div>
<div mat-dialog-actions class="bt">
    <button mat-raised-button class="btn btn-danger" mat-dialog-close="false">cancel</button>
    <button mat-raised-button class="btn btn-success" type="submit" (click)="ajouterAdmin()">{{!type ?'Ajouter':'Modifier'}}</button>
</div>
</form>
