<div mat-dialog-title><h1>Ajout DAB</h1></div>
<form action="">
<div mat-dialog-content>
   <div class="row">
  
    <mat-form-field appearance="outline">
        <mat-label>Banque</mat-label>
        <input matInput type="text" name="nom" [(ngModel)]="newDAB.banque">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>latitude</mat-label>
        <input  matInput type="text" name="prenom"[(ngModel)]="newDAB.latitude">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>longitude</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="newDAB.longitude">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>plafon_max</mat-label>
        <input matInput type="text" name="adresse" [(ngModel)]="newDAB.plafon_max">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>etat</mat-label>
        <input matInput type="text" name="login" [(ngModel)]="newDAB.etat">
      </mat-form-field>
   
   
   </div>
</div>
<div mat-dialog-actions class="bt">
    <button mat-raised-button class="btn btn-danger" mat-dialog-close="false">cancel</button>
    <button mat-raised-button class="btn btn-success" type="submit" (click)="ajouterDAB()">Enrigistrer</button>
</div>
</form>
